#titulo{
  text-align: center;
  font-size: 40px;
  color: black;
  background-color: #996699;
  background-size: 5%;
}
#autor{
  text-align: center;
  color: white;
}
#critica{
  font-weight: bold;
  color: #006699;
  margin: 1%;
  font-size: 30px;
}
#fondo{
  background-image: url(../recursos/starsver1.jpg);
}
.menuinicio{
  text-align: center;
  font-size: 40px;
  background-color:yellow;
  background-size: 5%;
  font-size: 20px;
  width: 200px;
}
.menu{
  color: white;
  float: left;
  width: 15%;
  border-left-width: : 2px;
  border-left-color:  purple;
  border-left-style: solid;
}
.foto1{
  width:32%;
  height:30%;
  float: left;
}
.contenedor{
  color: 	#000080;
  margin-left:0%;
  text-align: justify;
  background-color: #D8E2EC;
  float: left;
  width: 50%;
}
.glosario{
  background-color: #D8E2EC;
  float: left;
  color: 	#000080;
  height: inherit;
  width: 73%;
  mamargin-right: 3%;
  margin-left: 3%;
}
.seleccion{
  background-color: #996699;
  font-weight: bold;
}
.biografia{
  background-color:#D8E2EC;
  float: left;
  color: 	#000080;
  text-align: justify;
  width: 73%;
  margin-right: 3%;
  margin-left: 3%;
}
.inicio{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}
p{
  margin: 2%;
}
em{
  font-weight: bold;
  font-style: normal;
}
img{
  float: right;
  margin-left: 1%;
  width: 40%;
}
li{
  margin-bottom: 1%;
}
a:hover, a:active, a:visited, a:link{
  color: white;
}
.comentarios{
  color: 	#000080;
  margin-left:0%;
  background-color: #D8E2EC;
  float: left;
  width: 70%;
}
